/*INITIAL*/
/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
}

#root, .App {
  min-height: 100vh;
}
/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
/*FONTS-COLOR-DECORATION////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
FONTS-COLOR-DECORATION//////////////////////////////////////////*/
.App {
  font-family: 'Nunito Sans', sans-serif;
  padding: 0 0 5rem;
}
.White-Mode, aside option:hover,.White-Mode .country figure{
  background-color:hsl(0, 0%, 93%);
}
.White-Mode a, .White-Mode,aside option:hover {
  color:hsl(200, 15%, 8%);
}
.White-Mode figure,.White-Mode nav, .White-Mode button, .White-Mode aside select, .White-Mode aside div{
  background-color: hsl(0, 0%, 100%);
}
.White-Mode aside div svg {
  color: grey;
}
/********************************************************************/
.Dark-Mode,aside option:hover,.Dark-Mode .country figure{
  background-color: hsl(207, 26%, 17%);
}
.Dark-Mode,aside option:hover, .Dark-Mode a, .Dark-Mode input, .Dark-Mode select, .Dark-Mode button {
  color: hsl(0, 0%, 100%);
}
.Dark-Mode figure, .Dark-Mode nav, .Dark-Mode button, .Dark-Mode aside select, .Dark-Mode aside div, .Dark-Mode aside div input{
  background-color:hsl(209, 23%, 22%) ;
  color:hsl(0, 0%, 100%);
}
/*********************************************************************/
button, aside select, aside select option, aside div input {
  border: none;
}
aside div, aside input, aside select, section figure {
  border-radius: 5px;
}
nav {
  box-shadow:1px 1px 5px 0px rgba(0,0,0,0.24) ;
}
/*SIZE-WEIGHT///////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////
SIZE-WEIGHT///////////////////////////////////////////////////////////////*/
h1 {
  font-size: 1.5rem;
  font-weight: 800;
}
aside select,aside input {
  font-size: 14px;
  font-weight: 300;
}


/*NAVBAR /////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
NAVBAR*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 7%;
}
h1 {
  margin: 0;
  display: block;
  text-align: left;
}

/*FILTERBAR ///////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////
FILTERBAR*/
aside {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 7% 0;
}
aside div:first-child {
  width: 34%;
  display: flex;
  padding: 20px;
  transition: box-shadow 0.5s ease;
}
aside div:focus-within{
  box-shadow: 0 0 0 1.5px rgba(113, 128, 156, 0.6);
}

aside div svg {
  padding: 5px;
}
aside div input {
  width: 100%;
  margin: 0 0 0 20px;
}
aside div input:focus{
  outline:none;
}
aside select{
  width: 15%;
  padding: 0 21px;
}
aside select option {
  padding: 5px 3rem;
}
/*SECTION////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
SECTION*/
section {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5%;
}
section a {
  margin: 2em 2%;
}
section figure {
  width: 17rem;
  margin: 0;
  padding-bottom: 0.2rem;
  display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 24rem;
}
section figure img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
section figure figcaption {
  text-align: left;
  padding: 0 10%;
}
section figure figcaption h5 {
  font-weight: 800;
  font-size: 18px;
  margin: 1em 0;
}
section figure figcaption ul {
  font-weight: 300;
  font-size: 1rem;
  list-style: none;
  padding: 0;
  margin: 0 0 2.5rem 0;
}
section figure figcaption ul li {
  margin: 5px 0 5px 0;
}
section span {
  font-weight: 600;
}
section div>p {
  padding: 18vh 0;
}
/*COUNTRYDETAILS PAGE****************************************************
************************************************************************
************************************************************************
COUNTRYDETAILS PAGE*/

.country p {
  padding: 18vh 0;
  text-align: center;
}
.country figure {
  width: 100%;
  margin: 0;
  padding: 0 5%;
  display: flex;
  align-items: center;
}
.country figure img {
  width: 60%;
  max-height: fit-content;
  box-shadow:1px 1px 5px 0px rgba(0,0,0,0.24) ;
}
.country figcaption {
  width: 50%;
  margin: 0 0 0 5%;
}
.country figcaption div.countryDetailsInfo {
  display: flex;
  justify-content: space-between;
}
.country figcaption h5 {
  font-weight: 800;
  font-size: 24px;
  margin: 1em 0;
  width: 100%;
}
.country figcaption ul {
  font-weight: 300;
  font-size: 14px;
  list-style: none;
  padding: 0;
  margin: 0 0 2.5rem 0;
}
.country  span {
  font-weight: 600;
  font-size: 14px;
}
.country figcaption ul li {
  margin: 5px 0;
}
div.borderCountryButton{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
div.borderCountryButton a, .country button{
  font-size: 14px;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 3px;
  background-color:hsl(0, 0%, 99%) ;
  box-shadow:1px 1px 5px 0px rgba(0,0,0,0.24) ;
  border: 1px solid hsl(0, 0%, 95%);
}
.Dark-Mode div.borderCountryButton a, .Dark-Mode .country button {
  background-color:hsl(209, 23%, 22%) ;
  border: 1px solid hsl(209, 22%, 24%);
  box-shadow:1px 1px 5px 0px rgba(0,0,0,0.24) ;
}
.country button {
  margin: 50px 5%;
  padding: 10px 30px;
}
.country button:active, div.borderCountryButton a:active{
  transform: scale(0.9);
}
.country button:hover, div.borderCountryButton a:hover {
  transform:scale(1.08);
  transition: 0.1s;
}

/*MEDIAQUERIES///////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////
MEDIAQUERIES*/
@media (max-width: 775px) {
  aside {
    padding: 15px 5%;
    flex-direction: column;
  }
  aside div:first-child {
    width: inherit;
  }
  aside select {
    width: 67%;
    margin-top: 2rem;
    padding: 20px;
  }
  /*COUNTRY DETAILS**************************************************************/
  main.country figure {
    display: block;
    text-align: center;
  }
  main.country figure img {
    width:85%;
  }
  main.country figure figcaption {
    width: auto;
    text-align: left;
    margin: 0 0 0 9%;
  }
  main.country figure figcaption div.countryDetailsInfo {
    display: block;
  }
  div.borderCountryButton span {
    width: 100%;
    margin: 0 0 10px;
  }
}
@media (max-width: 376px) { 
  nav h1, aside div input {
    font-size: 14px;
  }
  nav button {
    font-size: 12px;
  }
  nav {
    padding: 1.5rem 5%;
  }
  /***************************************************/

  /****************************************************/
  section {
    padding: 0;
  }
  section figure {
    margin: 20px 0;
  }
 }
