/*INITIAL*/
/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
}

#root, .App {
  min-height: 100vh;
}
/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
/*FONTS-COLOR-DECORATION////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
FONTS-COLOR-DECORATION//////////////////////////////////////////*/
.App {
  font-family: 'Nunito Sans', sans-serif;
}
.White-Mode, aside option:hover{
  background-color:hsl(0, 0%, 93%);
}
.White-Mode a, .White-Mode,aside option:hover {
  color:hsl(200, 15%, 8%);
}
.White-Mode figure,.White-Mode nav, .White-Mode button, .White-Mode aside select, .White-Mode aside div {
  background-color: hsl(0, 0%, 100%);
}
.White-Mode aside div svg {
  color: grey;
}
/********************************************************************/
.Dark-Mode,aside option:hover{
  background-color: hsl(207, 26%, 17%);
}
.Dark-Mode,aside option:hover, .Dark-Mode a, .Dark-Mode input, .Dark-Mode select, .Dark-Mode button {
  color: hsl(0, 0%, 100%);
}
.Dark-Mode figure, .Dark-Mode nav, .Dark-Mode button, .Dark-Mode aside select, .Dark-Mode aside div, .Dark-Mode aside div input{
  background-color:hsl(209, 23%, 22%) ;
}
/*********************************************************************/
button, aside select, aside select option, aside div input {
  border: none;
}
aside div, aside input, aside select, section figure {
  border-radius: 5px;
}
nav {
  box-shadow:1px 1px 5px 0px rgba(0,0,0,0.24) ;
}
/*SIZE-WEIGHT///////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////
SIZE-WEIGHT///////////////////////////////////////////////////////////////*/
h1 {
  font-size: 1.5rem;
  font-weight: 800;
}
aside select {
  font-size: 14px;
  font-weight: 300;
}

/*NAVBAR /////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
NAVBAR*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5%;
}
h1 {
  margin: 0;
  display: block;
  text-align: left;
}

/*FILTERBAR ///////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////
FILTERBAR*/
aside {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 5.5rem 0;
}
aside div:first-child {
  width: 34%;
  display: flex;
  padding: 20px;
}
aside div svg {
  padding: 5px;
}
aside div input {
  width: 100%;
  margin: 0 0 0 20px;
}
aside div input:focus{
  border-color: grey;
}
aside select{
  width: 15%;
  padding: 0 21px;
}
aside select option {
  padding: 5px 3rem;
}
/*SECTION////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
SECTION*/
section {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 3rem;
}
section a {
  margin: 2em 2%;
}
section figure {
  width: 17rem;
  margin: 0;
  padding-bottom: 0.2rem;
}
section figure img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-height: 13.25rem;
}
section figure figcaption {
  text-align: left;
  padding: 0 10%;
}
section figure figcaption h5 {
  font-weight: 800;
  font-size: 18px;
  margin: 1em 0;
}
section figure figcaption ul {
  font-weight: 300;
  font-size: 1rem;
  list-style: none;
  padding: 0;
  margin: 0 0 2.5rem 0;
}
section figure figcaption ul li {
  margin: 5px 0 5px 0;
}
section span {
  font-weight: 600;
}
section div>p {
  padding: 18vh 0;
}
/*MEDIAQUERIES///////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////
MEDIAQUERIES*/
@media (max-width: 775px) {
  aside {
    padding: 15px 5%;
    flex-direction: column;
  }
  aside div:first-child {
    width: inherit;
  }
  aside select {
    width: 67%;
    margin-top: 2rem;
    padding: 20px;
  }

}
@media (max-width: 376px) { 
  nav h1, aside div input {
    font-size: 14px;
  }
  nav button {
    font-size: 12px;
  }
  nav {
    padding: 1.5rem 5%;
  }
  /***************************************************/

  /****************************************************/
  section {
    padding: 0;
  }
  section figure {
    margin: 20px 0;
  }
 }
